code[class*="language-"],
pre[class*="language-"] {
	font-family: 'Fira Code', Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	font-size: 1.8rem;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}


.token.class-name {
	color: #FF68D5;
}

.token.decorator-symbol, .token.reserved {
	color: #FF68D5;
}

.token.decorator-name {
	color: #FFD057;
}

.token.r-variable{
	color: #3ACAEA;
}

.token.jsx-tag {
	color: #FFD057;
}

.token.function-name.plain, .token.punctuation, .token.operator {
	color: #fff!important;
}

.token.plain, .token.function {
	color: #3ACAEA!important;
}

.token.string {
	color: #70FFA9!important;
}

.slick-slider,
    .slick-track {
      position: relative;
      display: block;
    }
    .slick-loading .slick-slide,
    .slick-loading .slick-track {
      visibility: hidden;
    }
    .slick-slider {
      box-sizing: border-box;
      user-select: none;
      touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
    }
    .slick-list {
      overflow: hidden;
      margin: 0;
      padding: 0;
    }
    .slick-list:focus {
      outline: 0;
    }
    .slick-list.dragging {
      cursor: pointer;
      cursor: hand;
    }
    .slick-slider .slick-list,
    .slick-slider .slick-track {
      transform: translate3d(0, 0, 0);
    }
    .slick-track {
      top: 0;
      left: 0;
    }
    .slick-track:after,
    .slick-track:before {
      display: table;
      content: '';
    }
    .slick-track:after {
      clear: both;
    }
    .slick-slide {
      display: none;
      float: left;
      height: 100%;
      min-height: 1px;
    }
    .slick-initialized .slick-slide {
      display: block;
    }
    .slick-vertical .slick-slide {
      display: block;
      height: auto;
      border: 1px solid transparent;
    }
    .slick-arrow.slick-hidden {
      display: none;
    }
    .slick-list {
      margin: 0 -1.2rem;
    }
    .slick-dots {
      list-style: none;
      display: flex !important;
      align-items: center;
      justify-content: center;
      li {
        background: white;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &.slick-active {
        }
      }
      button {
        opacity: 0;
        width: 12px;
        height: 12px;
        cursor: pointer;
      }
    }
